<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stránka umožňující přehrání MPEG-DASH streamu</title>
    <script type="text/javascript" th:src="@{/js/dash.all.debug.js}"></script>
</head>
<body>
    <div>
        <video data-dashjs-player="" autoplay="" src="http://localhost:8080/dash/manifest.mpd" controls="true" width="1000" height="400"></video>
    </div>

    <div>
        <video data-dashjs-player="" autoplay="" src="https://dash.akamaized.net/akamai/bbb_30fps/bbb_30fps.mpd" controls="true" width="1000" height="400"></video>
    </div>
</body>
</html>